<!DOCTYPE html>
<html ng-app="myStock">
<head>
    <meta charset="utf-8">
    <title>MyStock</title>
    <style>
        body {
            font: 16px Helvetica, arial, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
        }
        .block {
            display: block;
        }
    </style>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="Main">
    <div>
        <form>
            <label class="block">基础设置</label>
            <label class="block">总资金<input type="number" ng-model="settings.money"></label>
            <label class="block">设置风险<input type="number" ng-model="settings.risk">%</label>
            <input type="submit" ng-click="saveSettings(settings)" value="保存">
        </form>
    </div>
</body>
</html>